@font-face {
  font-family: 'orbitron';
  src: url("../assets/fonts/orbitron-light-webfont.woff");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 20px;
  width: 440px;
  background: #282a36;
  border: 3px solid #282a36;
  align-items: flex-start;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: hidden;
  overflow-x: hidden;
}

h1 {
  background: linear-gradient(rgb(255, 155, 42), rgb(255, 124, 146), rgba(211, 25, 211, 0.577)); 
  text-shadow: 1px 1px 10px rgba(255, 255, 255, 0.262);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.8rem;
  font-family: 'orbitron';
}

p {
  color: #f8f8f2;
  font-size: 0.9rem;
  text-align: center;
}

button {
  background: #ffaafc;
  color: #000000;
  cursor: pointer;
  padding: 6px 20px;
  font-size: 14px;
  font-weight: 500;
  border: none;
  border-radius: 12px;
  margin: 5px;
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
  transition: all 0.3s ease;
  width: 100%;
}

button:hover {
  transform: scale(1.02);
}

button:active {
  transform: translateY(1px) scale(0.98);
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}

.main-container,
.preview-container,
.creator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.preview-container {
  border-radius: 12px;
  border: 1px solid rgba(0,0,0,0.2);
  margin-top: 10px;
  height: 210px;
  background: rgba(255,255,255,0.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.05);
  backdrop-filter: blur(4px);
}

.foot {
  display: flex;
  justify-content: flex-start;
  gap: 8px;
  margin: 20px 3px 4px 3px;
}

.bgrd-btn {
  display: block;
  margin: 0;
  background-color: #44475a;
  padding: 5px;
  border-radius: 6px;
  transition: transform 0.2s ease;
}

.copy-or-down{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 6px;
  color: #ffffff;
  width: 100%;
  margin-right: 10px;
   margin-left: 5px;
}

#download-button, #copy-button {
  margin: 0;
  padding: 8px 20px;
 
  font-size: 12px;
  width: 100%;
}

#copy-button {
  background: #aaaaaa;
  color: #000000;
}

#slider {
  width: 90%;
  margin-top: 20px;
  accent-color: #ffaafc;
}

.range{
  display: flex;
  justify-content: space-between;
  accent-color: #ffaafc;
  width: 100%;
  align-items: center;
  margin-top: 20px;
  font-size: 0.85rem;
}

.bgrd-btn:hover {
  transform: scale(1.08);
}

.title, .description {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title img {
  width: 22%;
  margin-right: 12px;
}

.description {
  margin-top: 5px;
  margin-bottom: 8px;
  font-size: 0.85rem;
  color: #594100;
}

.creator{
    margin-left: 18%;
    font-size: 0.9rem;
    width: 210px;
}

.controls {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 80px;
  background: rgba(255, 170, 252, 0.1);
  border: 2px solid rgba(255, 170, 252, 0.3);
  border-radius: 6px;
  margin-top: 20px;
}

.quality-screenshot {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  color: #f8f8f2;
  font-size: 0.9rem;
  width: 100%;
}

#preview {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
  border-radius: 8px;
}

#social-link img {
  display: flex;
  align-items: center;
  justify-self: center;
  width: 32px;
  height: 32px;
  margin: 2px 2px 2px 2px;
  filter: invert();
}